services:
  redis:
    image: redis:7-alpine
    container_name: redis_fastapi
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --loglevel warning

  redis-insight:
    image: redis/redisinsight:latest
    container_name: redis_insight
    restart: always
    ports:
      - "5540:5540"

volumes:
  redis_data:
  redis_insight_data:
